#t_ftf {
   width: 100%;
}
#link {
   width: 100%;
}

ul,
li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#audio {
   height: auto;
   width: 97%;
   margin-bottom: 5px;
   margin-top: 5px;
}

table {
   border: solid;
   border-color: rgb(15, 248, 7);
   align-items: center;
}

#indeng {
   border: solid;
   border-color: rgb(15, 248, 7);
   align-content: center;
}
th {
   border: solid;
   border-color: rgb(15, 248, 7);
}

td {
   border: solid;
   border-color: rgb(15, 248, 7);
}

body {
   text-align: center;
   width: 97%;
   height: auto;
}
.responsive {
   width: 100%;
   height: auto;
}
#respi {
   margin-top: 10px;
}
#covers1 {
   width: 100%;
   height: auto;
}

#covers2 {
   width: 100%;
   height: auto;
}
#covers3 {
   width: 100%;
   height: auto;
}
#covers4 {
   width: 100%;
   height: auto;
}

#audio {
   width: 100%;
   height: 20px;
   margin: 1px;
}
p {
   margin-bottom: 0%;
   margin-top: 30px;
}
h1 {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 50px;
}
h2 {
   text-align: center;
}

@media (min-width: 640px) {
   #products {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }
   #products div {
      margin: 5px;
      align-items: center;
      width: 23%;
   }
}
#title {
   border-radius: 50px;
   border-color: rgb(154, 154, 222);
   width: 100%;
   background-color: rgb(122, 244, 244);
   margin: 0;
   border: 2;
   padding: 0;
}
#titleFTF {
   border-radius: 20px;
   border-color: rgb(154, 154, 222);
   width: 100%;
   background-color: rgb(122, 244, 244);
   margin: 0;
   border: 2;
   padding: 0;
}
#cim {
   margin: 2px;
   color: rgb(230, 25, 29);
   width: 100%;
}
#FTF {
   margin: 0 0 0 0;
   color: rgb(199, 21, 56);
   font-size: larger;
}

body {
   background-color: rgb(203, 245, 161);
}
#subtitle {
   text-align: center;
   font-size: small;
   color: rgb(21, 21, 231);
   margin-top: 0;
}
#responsive {
   width: 100%;
   height: auto;
}
